{%  extends 'blog/usermain.html' %}
{% load static %}
{% block content %}
<style>
.outPopUp {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;

}
.wrapper {
 
  text-align: center;
}

</style>


<h1 class="wrapper">Follow Someone</h1>

<br>
<p class="wrapper">People You are already Following</p>

<div class="wrapper">
{% for x in people_you_are_following %}

	{{x.u2.name}}
	<br>

{% endfor %}
</div>




<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
 {{form.u1.as_hidden}}
 <p class="wrapper"> Follow someone you find interesting</p>
 <p class="wrapper">{{form.u2}}</p>
<p class="wrapper"><input type="submit" value="Follow"></p>
</form>
{% endblock%}